.container {
  display: inline-block;
  margin: 1vw;
  text-align: center;
}

.gallery-item {
  width: 200px;
  height: 200px;
  overflow: auto;
  word-wrap: break-word;
}

.gallery-item img {
  width: 200px;
  height: auto;
}

.gallery-item p {
  font-size: 100%;
  }


